// SCSS Variables
$link-color: #43b1b9;
$background-dark: #1e1e1e;
$background-middle: #1e1e1e;
$background-light: #f8f8f9;
$text-light: #f2f2f3;
$text-middle: #242423;
$text-dark: #191919;
$border-orange: #e35615;
$font-title: Merriweather, serif;
/* look into garamond, freight text, tiempos text, gt sectra  */
$font-base: "Source Sans Pro", sans-serif;
/* Look into futura, open sans, proxima nova, avenir,brandon grotesque, graphik */

// Making a mixin
// call it with @include setGridItems
@mixin setGridItems {
  .grid-item-1 {
    grid-area: one;
  }
  .grid-item-2 {
    grid-area: two;
  }
  .grid-item-3 {
    grid-area: three;
  }
  .grid-item-4 {
    grid-area: four;
  }
  .grid-item-5 {
    grid-area: five;
  }
  .grid-item-6 {
    grid-area: six;
  }
}

/* base reset so that I can set the padding and margins*/
/* Generally, I'll make 
  padding- 10px 15px
  and margin - 20px */
* {
  margin: 0;
  padding: 0;
  /* max-width: 2000px; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Setting the base properties for the entire page */
/* box-sizing so that everything will contain its internal elements*/
html,
body {
  background-color: $background-dark;
  color: #191919;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin-left: auto;
  margin-right: auto; /*This will make it so when you click on a link, 
    it will scroll to that spot rather than jump*/
}

.nav {
  padding: 10px 15px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $background-dark;

  z-index: 500; /*This makes sure that the nav is always visible on top of any other element*/
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/*------ Navbar CSS------ */

nav {
  a {
    text-decoration: none;
    color: $text-light;
    font-size: 1.2rem;
    &:hover {
      // font-weight: 550;
      color: $link-color;
      cursor: pointer;
    }
  }
  #left-nav,
  #right-nav {
    display: flex;
    flex-direction: row;
  }
  #left-nav {
    padding-left: 1rem;
  }
  #right-nav {
    justify-content: space-around;
    width: 45vw;
  }

  // Drop down button CSS
  .fas {
    color: $text-light;
    background-color: $background-dark;
  }
  #dropdown-button {
    color: $text-light;
    background-color: $background-dark;
    padding: 0 1rem;
    border: none;
    display: none;
  }
}

// ------ Media Calls for Navbar

/* -------------------------Phone Only (0px-599px)---------------------*/

@media (max-width: 599px) {
  .nav {
    flex-direction: column;

    #left-nav {
      justify-content: space-between;
      //   width: 100%;
      //   flex-direction: row;
    }
    #right-nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      //   display: none;
    }
    // this shows the button for the drop-down menu
    #dropdown-button {
      display: inline-block;
    }
    #dropdown-button:hover {
      cursor: pointer;
    }
  }
  /* this shows the menu, is gets added to div#right-nav when the side button is clicked */
  #right-nav.dropdown {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 1rem 0.3rem 0;
  }

  // Customizing the menu
  #right-nav a {
    text-align: right;
    width: 100%;
    padding-right: 1rem;
  }
  #right-nav a:hover div {
    color: $link-color;
  }
}

// ------ Text Color

.about,
.home {
  color: white;
}
